admin-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;  /* Adjust transparency level here (0.0 to 1.0) */
    z-index: -1;
}

.admin-container {
    position: relative;
    height: 97vh;
    display: block;
    flex-direction: column;
    justify-content: flex-start; ;
    z-index: 1;
}

.select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
}

select {
    padding: 10px;
    font-size: 4dvi;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid #f5b411;
    cursor: pointer;
    height: 80px;
}

select:hover {
    background-color: #f5f5f5;
}

label {
    font-size: 4dvi;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-block {
    padding: 10px;
    border: 1px solid #f5b411;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

.card-block-title {
    color: white;
    font-size: 4dvi;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdowns-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.all-cards-container {
    display: block;
    height: 96vh;
    flex-direction: column;
    justify-content: space-evenly ;
    gap: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px auto;
    width: 95%;
}

.player-input {
    padding: 10px;
    font-size: 4dvi;
    border-radius: 5px;
    border: 2px solid #f5b411;
    background: white;
    width: 94%;
    height: 56px;
}

.admin-button-container {
    margin: 20px auto;
    position: absolute;
    right: 25px;
    z-index: 1000;
}

.admin-save-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 20px 60px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.admin-save-button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.admin-save-button:active {
    background-color: #990000;
    transform: scale(0.95);
}